# macOS
.DS_Store

# Virtual Environment
/venv

# Generated data and reports
/data/processed/
/reports/

# Notebooks (often contain output)
/notebooks/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
